---
export interface Props {
	className?: string;
}

const { className = "" } = Astro.props;
---

<div class=`cassette-pile ${className}`>
	<slot />
</div>

<style is:global>
	@layer components {
		.scene {
			--cassette-depth: 220px;
			--cassette-aspect-ratio: 4;
			--cassette-active-offset-z: calc(var(--cassette-depth) / 4);
			--cassette-pile-offset-z: calc((var(--tv-depth) - var(--cassette-depth)) / 2);

			@media (min-width: 22rem) {
				--cassette-aspect-ratio: 5;
			}

			@media (min-width: 28rem) {
				--cassette-aspect-ratio: 6;
			}
		}

		@keyframes on {
			0%,
			75% {
				scale: 0;
			}
			100% {
				scale: 1;
			}
		}

		.cassette-pile {
			display: grid;
			grid-auto-flow: row;
			grid-auto-rows: max-content;
			row-gap: 2px;

			&:not(:has(:target)) .tv-layout:nth-of-type(n + 2),
			&:has(:target) .tv-layout:not(:target) {
				grid-template-columns: 1fr max-content 1fr;
				grid-template-rows: max-content;
				grid-template-areas: ". vhs-slot .";
				height: 100%;
			}

			&:not(:has(:target)) > .cassette:first-of-type,
			& :target {
				transform: none;
				margin-top: calc(var(--tv-height) * -1);

				.cassette-body {
					transform: translateZ(
							calc(var(--cassette-pile-offset-z) + var(--cassette-active-offset-z))
						)
						translateY(calc(var(--vhs-slot-padding) * 1.5))
						translateX(calc(var(--vhs-slot-padding) * 2));
				}
				.hidden-when-inactive {
					display: grid;
					transform: translateZ(var(--cassette-pile-offset-z));
				}

				.cassette-content {
					animation: on 1000ms ease;
				}
			}

			.hidden-when-inactive {
				display: none;
			}

			& > :target {
				scroll-behavior: smooth;
				scroll-margin-block-start: var(--tv-height);
				order: -1;
			}

			&:not(:has(:target)) > .cassette:nth-of-type(2),
			&:has(.tv-layout:first-of-type:target) > .cassette:nth-of-type(2) {
				transform: none;
			}

			&:has(.tv-layout:not(:first-of-type):target) > .cassette:nth-of-type(1) {
				transform: none;
			}
		}

		@media (prefers-reduced-motion: no-preference) {
			:has(:target) {
				scroll-behavior: smooth;
			}
		}
	}
</style>
