---
export interface Props {
	className?: string;
	overlay?: "lines";
}

const { className = "", overlay = "" } = Astro.props;
---

<section class=`cassette-content screen ${className} ${overlay}`>
	<slot />
</section>

<style is:global>
	@layer defaults {
		.scene {
		}
	}

	@layer components {
		.screen {
			--save-screen-padding: var(--space--1);
			--screen-background: hsl(207.1, 15.9%, 61.76%);

			border-radius: var(--screen-border-radius);
			/* border-radius: 50% / 10%; */
			padding: var(--save-screen-padding);
			background-color: var(--screen-background);
			overflow: hidden;
			font-family: "Press Start 2P";
			font-size: var(--font--2);

			width: 100%;
			height: 100%;

			/* &::before {
				content: "";
				position: absolute;
				inset: -9% -5%;
				background: inherit;
				border-radius: 5% / 50%;
			} */

			box-shadow:
				inset 0px 0px 15px 0px var(--screen-background),
				0px 0px 15px 0px var(--screen-background);

			& h1 {
				font-size: var(--font-1);
			}

			& h2 {
				font-size: var(--font--1);
			}

			&:has(:focus-visible) {
				outline: var(--tv-outline);
			}

			& :where(input, button):focus-visible {
				outline: var(--tv-outline);
			}
		}

		.lines {
			position: relative;

			&::after {
				content: "";
				position: absolute;
				inset: 0;
				background: linear-gradient(
					to bottom,
					hsla(207.1, 15.9%, 61.76%, 0.2) 50%,
					hsla(207.1, 15.9%, 51.76%, 0.1) 50%
				);
				background-size: 100% 4px;
				pointer-events: none;
			}
		}
	}
</style>
