---
import Block from "../block.astro";
import CassetteTape from "./cassette-tape.astro";

export interface Props {
	decoType?: "a" | "b" | "c";
	tapeType?: "blank" | "stripes" | "checked";
	color?: string;
}
---

<Block>
	<CassetteTape {...Astro.props}>
		<span>
			<slot />
		</span>
	</CassetteTape>
</Block>
