---
import Link from "../../components/icons/link.svg?raw";
---

<h2>Something completely new: (web) components</h2>
<p>
  a small, dependecy-free web-component library that makes authoring a lot
  simpler. Featuring the hottest thing of 2023: Signals
</p>
<a class="with-icon-end" href="https://github.com/copyandpaetow/grundlage"
  >Just the github link <Fragment set:html={Link} /></a
>
