@font-face {
	font-family: "Press Start 2P";
	src: url("/fonts/pressStart2p.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

*,
::after,
::before {
	box-sizing: border-box;
}

:where(*) {
	margin: 0;
	padding: 0;
}

:where(html) {
	line-height: 1.5;
	font-family: system-ui, sans-serif;

	@media (prefers-reduced-motion: no-preference) {
		& :focus-within {
			scroll-behavior: smooth;
		}
	}
}

:where(body) {
	min-height: 101dvh;
}

:where(h1, h2, h3, button, input, label) {
	line-height: 1.1;
}

:where(h1, h2, h3) {
	text-wrap: balance;
}

:where(select, button, input, textarea) {
	font: inherit;
}

:where(ol, ul) {
	margin: 0;
	padding: 0;
	list-style: none;
	display: grid;
	gap: 1rem;
}

:where(li) {
	display: grid;
	grid-template-columns: 0 1fr;
	gap: 2.25em;
	align-items: start;
	font-size: 1.5rem;
	line-height: 1.25;
}

:where(img, picture) {
	max-width: 100%;
	display: block;
}

:where(picture:has(img)) {
	height: 100%;
	object-fit: contain;

	& img {
		height: 100%;
		width: 100%;
	}
}

:where(video) {
	width: 100%;
	object-fit: cover;
}

:where(a, button, input),
:where(label:has(input)) {
	cursor: pointer;
}

:where(dialog) {
	--_dialog-height: var(--dialog-height, 100%);
	--_dialog-width: var(--dialog-width, 100%);
	--_dialog-position: var(--dialog-position, fixed);
	--_dialog-inset: var(--dialog-inset, 0);
	--_dialog-z-index: var(--dialog-z-index, 1);

	overflow: initial;
	color: transparent;
	background: transparent;
	border: none;
	padding: 0;
	width: var(--_dialog-width);
	height: var(--_dialog-height);
	max-height: var(--_dialog-height);
	max-width: var(--_dialog-width);
	position: var(--_dialog-position);
	inset: var(--_dialog-inset);
	z-index: var(--_dialog-z-index);
}

:where(popover-helper) {
	display: contents;
}
