@font-face {
	font-family: "Press Start 2P";
	src: url("/fonts/pressStart2p.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

*,
::after,
::before {
	box-sizing: border-box;
}

:where(*) {
	margin: 0;
	padding: 0;
}

:where(html) {
	line-height: 1.5;
	font-family: system-ui, sans-serif;
	scrollbar-gutter: stable;

	@media (prefers-reduced-motion: no-preference) {
		& :focus-within {
			scroll-behavior: smooth;
		}
	}
}

:where(body) {
	contain: layout;
	min-height: 100svh;
}

:where(h1, h2, h3, button, input, label) {
	line-height: 1.1;
}

:where(h1, h2, h3) {
	text-wrap: balance;
}

:where(select, button, input, textarea) {
	font: inherit;
}

:where(ol, ul) {
	margin: 0;
	padding: 0;
	list-style: none;
	display: grid;
	gap: 1rem;
}

:where(li) {
	display: grid;
	grid-template-columns: 0 1fr;
	gap: 2.25em;
	align-items: start;
	font-size: 1.5rem;
	line-height: 1.25;
}

:where(img, picture) {
	max-width: 100%;
	display: block;
}

:where(picture:has(img)) {
	height: 100%;
	object-fit: contain;

	& img {
		height: 100%;
		width: 100%;
	}
}

:where(video) {
	width: 100%;
	object-fit: cover;
}

:where(a, button, input),
:where(label:has(input)) {
	cursor: pointer;
}

:where(dialog) {
	overflow: initial;
	color: transparent;
	background: transparent;
	border: none;
	padding: 0;
	width: 100%;
	height: 100%;
	max-height: 100%;
	max-width: 100%;
}
