@font-face {
	font-family: "Press Start 2P";
	src: url("/fonts/pressStart2p.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

*,
::after,
::before {
	box-sizing: border-box;
}

:where(*) {
	margin: 0;
	padding: 0;
}

:where(html) {
	line-height: 1.5;
	font-family: system-ui, sans-serif;
	scrollbar-gutter: stable;

	@media (prefers-reduced-motion: no-preference) {
		& :focus-within {
			scroll-behavior: smooth;
		}
	}
}

:where(body) {
	contain: layout;
	min-height: 100svh;
}

:where(h1, h2, h3, button, input, label) {
	line-height: 1.1;
}

:where(h1, h2, h3) {
	text-wrap: balance;
}

:where(select, button, input, textarea) {
	font: inherit;
}

:where(ul, ol) {
	list-style: none;
}

:where(img, picture) {
	max-width: 100%;
	display: block;
}

