:has(#settings-three-dimensional:checked):has(#that-3d-episode:target) {
	.camera {
		--block-render-top: block;
		--block-render-right: block;
		--block-render-y: "";
		--block-render-x: "";
		--perspective: 2000px;
		--camera-truck: 1200px;
		--camera-pan: -40deg;
		--camera-dolly: 1000px;
		--camera-pedestal: 1130px;
		--camera-roll: -34deg;
	}

	.interactive-remote {
		--block-y-direction: -1;
	}
}

.camera:not(:has(#that-3d-episode:target)):not(:has(#settings-menu details[open]))
	.remote-button:not(.power-button) {
	--block-render-y: none;
	--block-render-x: none;
}

@media (scripting: enabled) {
	.remote:has([open]) .interactive-remote {
		--remote-active-rotation: 0deg;

		position: absolute;
		left: 50%;
		transform: translateZ(300px) translateY(var(--remote-active-offset)) translateX(-50%)
			rotateX(var(--remote-active-rotation));
	}

	:is(
			:has(#settings-three-dimensional:checked),
			:has(#settings-three-dimensional:checked):has(#that-3d-episode:target)
		)
		.remote:has(.remote-button:active)
		.interactive-remote {
		--remote-active-rotation: 45deg;
	}

	:has(#settings-three-dimensional:checked):has(#that-3d-episode:target)
		.remote:has([open])
		.interactive-remote {
		--remote-active-rotation: 25deg;

		--block-render-top: block;
		--block-render-right: block;
		--block-y-direction: 1;
		--block-x-direction: 1;
	}
}
