@keyframes flicker {
	from {
		opacity: 0.5;
	}
	to {
		opacity: 0.55;
	}
}

@keyframes scanlines {
	0% {
		transform: translateY(var(--_scanline-width));
	}
}

.screen-root {
	--_screen-background: var(--screen-background, hsl(207.1, 15.9%, 61.76%));
	--_screen-text-color: var(--screen-text-color, var(--black));
	--_scanline-width: 3px;
	--_flicker-color: var(--flicker-color, white);
	font-family: "Press Start 2P";
	font-size: var(--font--2);

	background-color: var(--_screen-background);

	&::before,
	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		pointer-events: none;
		z-index: 2;
	}

	&::before {
		background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.15) 51%);
		background-size: 100% var(--_scanline-width);
		animation: scanlines 200ms steps(60) infinite;
	}

	&::after {
		background: radial-gradient(ellipse at center, var(--_flicker-color) 0%, transparent 100%);
		animation: flicker 50ms infinite;
	}

	:has(#settings-animation:not(:checked)) & {
		--flicker-color: hsla(0, 100%, 100%, 0.5);
	}

	:has(#settings-animation:not(:checked)) &::before,
	:has(#settings-animation:not(:checked)) &::after {
		animation: none;
	}

	@media (prefers-reduced-motion) {
		--flicker-color: hsla(0, 100%, 100%, 0.5);

		&::before {
			animation: none;
		}
		&::after {
			animation: none;
		}
	}

	& * {
		font-size: var(--font--2);
		text-shadow:
			0 0 0.08em var(--_screen-text-color),
			-0.08em 0 0.08em aqua,
			0.08em 0 0.08em fuchsia;
		color: var(--_screen-text-color);
	}

	& h1 {
		font-size: var(--font--1);
	}

	& button {
		background: transparent;
		border-color: transparent;
		appearance: none;
		text-align: start;
	}

	& ul li::before {
		content: ".";
	}

	& ol {
		counter-reset: orderedlist;
	}

	& ol li::before {
		counter-increment: orderedlist;
		content: counter(orderedlist) ". ";
		align-self: start;
		line-height: 1.6;
	}
}
