.flow > * + * {
	margin-top: var(--flow-space, 1em);
}

.list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: var(--gutter);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

:where([data-appearance="none"]) {
	appearance: none;
	color: transparent;
	background-color: transparent;
	border: none;
}
