.flow > * + * {
	margin-top: var(--flow-space, 1em);
}

.list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: var(--gutter);
}

.scene {
	--perspective-factor: 10;
	--origin-x: 200vw;
	--origin-y: -33vw;

	perspective: calc(100vw * var(--perspective-factor));
	perspective-origin: var(--origin-x) var(--origin-y);

	& * {
		transform-style: preserve-3d;
		outline: 1px solid transparent;
	}

	@media (min-width: 30rem) {
		--perspective-factor: 8;
	}

	@media (min-width: 40rem) {
		--perspective-factor: 6;
	}

	@media (min-width: 50rem) {
		--perspective-factor: 5;
	}
}
