---
import StaticBackground from "./static-background.astro";
export interface Props {
	className?: string;
}

const { className = "" } = Astro.props;
---

<div class=`screen-module ${className}`>
	<StaticBackground className="static-background" />
</div>

<style is:global>
	@layer defaults {
		.scene {
			--module-padding: 1rem;
			--module-border-radius: 0.25rem;
			--module-gap: 10px;
			--module-realism-effect: 0px 0px 1px 1px hsla(0, 0%, 0%, 0.33),
				inset 0px 0px 5px 1px hsla(0, 0%, 100%, 0.5);

			--screen-background: black;
			--screen-border-radius: 1.5rem;
			--screen-padding: 1rem;
			--screen-border-color: var(--grey-85);
			--screen-border-color-offset: var(--grey-90);
			--screen-module-ratio: 1.2;
			--screen-height: calc(
				((var(--tv-width) - 2 * var(--tv-border-width)) / var(--screen-module-ratio))
			);

			@media (min-width: 28rem) {
				--screen-padding: 1.25rem;
				--screen-border-radius: 2rem;
			}
		}
	}

	@layer components {
		.screen-module {
			width: 100%;
			aspect-ratio: var(--screen-module-ratio);
			border-radius: var(--module-border-radius);
			box-shadow: var(--module-realism-effect);

			display: grid;
			grid-template-columns:
				[full-screen-start] var(--screen-padding)
				[screen-content-start] 1fr
				[screen-content-end] var(--screen-padding)
				[full-screen-end];

			grid-template-rows:
				[full-screen-start] var(--screen-padding)
				[screen-content-start] calc(var(--screen-height) - 2 * var(--screen-padding))
				[screen-content-end] var(--screen-padding)
				[full-screen-end];

			&::before {
				content: "";
				grid-area: full-screen / full-screen;
				background: var(--screen-background);
				border-radius: var(--module-border-radius);
				border-inline: var(--screen-border-radius) solid var(--screen-border-color);
				border-block: var(--screen-border-radius) solid var(--screen-border-color-offset);
			}

			&::after {
				content: "";
				grid-area: screen-content / screen-content;
				border-radius: var(--screen-border-radius);
				background: var(--black);
			}

			> .static-background {
				grid-area: screen-content / screen-content;
				border-radius: var(--screen-border-radius);
				background: var(--black);
				z-index: 1;
				opacity: 0;
			}
		}
	}
</style>
