---
import Block from "../3d/block.astro";
import VhsPlayer from "./vhs-player.astro";
import TVScreen from "./tv-screen.astro";
export interface Props {
	className?: string;
}

const { className = "" } = Astro.props;
---

<Block className={`tv ${className}`}>
	<div slot="front" class="tv-front">
		<TVScreen />
		<VhsPlayer />
	</div>
	<div slot="right" class="speaker"></div>
	<div slot="left" class="speaker"></div>
</Block>

<style is:global>
	@layer defaults {
		.scene {
			--tv-offset: 10svh;
			--tv-width: var(--scene-width);
			--tv-depth: 300px;
			--tv-background: hsl(255, 2%, 67%);
			--tv-border-width: 12px;
			--tv-border-color: hsl(255, 2%, 67%);
			--tv-border: var(--tv-border-width) solid var(--tv-border-color);
			--tv-realism-effect: inset 0px 0px 1px 1px hsla(0, 0%, 0%, 0.5),
				inset 0px 0px 5px 1px hsla(0, 0%, 100%, 0.5);
			--tv-height: calc(
				var(--screen-height) + var(--vhs-slot-height) + 2 * var(--tv-border-width) + 1 *
					var(--module-padding) + var(--module-gap)
			);
			--tv-outline-color: var(--blue);
			--tv-outline-width: 2px;
			--tv-outline: var(--tv-outline-width) solid var(--tv-outline-color);
			--tv-light: var(--green);

			--speaker-grill-color: var(--grey-85);

			@media (min-width: 28rem) {
				--tv-border-width: 16px;
			}
		}
	}

	@layer components {
		.tv {
			--block-depth: var(--tv-depth);
			--block-background: var(--tv-background);
			--block-border: var(--tv-border);

			& > * {
				border-radius: calc(var(--tv-border-width) / 2);
			}
		}

		.tv-front {
			height: 100%;
			display: grid;
			row-gap: var(--module-gap);

			padding-bottom: var(--module-padding);
		}

		.speaker {
			display: grid;
			place-content: start center;
			height: 100%;
			width: 100%;
			padding: var(--module-padding);

			&::before {
				content: "";
				aspect-ratio: 2.5;
				width: calc(var(--tv-depth) * 0.8);
				display: block;
				border-radius: 50%;

				background: linear-gradient(
						90deg,
						transparent 48.5%,
						var(--tv-background) 48.5%,
						var(--tv-background) 51.5%,
						transparent 51.5%
					),
					linear-gradient(
						var(--speaker-grill-color) 0%,
						var(--tv-background) 10%,
						var(--tv-background) 40%,
						var(--speaker-grill-color) 50%,
						var(--tv-border-color) 50%
					);
				background-size: 100% 0.25rem;
			}
		}
	}
</style>
