.tv-scene {
  width: var(--tv-width);
  padding-block: var(--tv-padding-block);
}

@keyframes on {
  0%,
  33% {
    scale: 0 0;
    filter: brightness(100);
  }
  66% {
    scale: 1 0.01;
    filter: brightness(100);
  }
  67% {
    filter: brightness(1);
  }
  100% {
    scale: 1 1;
  }
}

.small-screen {
  --screen-content-height: var(--inner-screen-height);
  --screen-content-width: var(--inner-screen-width);
  --screen-save-area: 0;
  --content-size: 1fr;
  --save-screen-padding-block: 2vh;
  --save-screen-padding-inline: 2vw;
}

.screen-content-layout {
  --_gap: var(--screen-gap, 0.5rem 0);
  --_height: var(--screen-content-height, 100%);
  --_width: var(--screen-content-width, 100%);
  --_padding-block: var(--save-screen-padding-block, 0);
  --_padding-inline: var(--save-screen-padding-inline, 0);
  --_content: var(--content-size, minmax(19rem, 40rem));
  --_save-area: var(--screen-save-area, minmax(1rem, 1fr));

  height: var(--_height);
  width: var(--_width);
  padding-block: var(--_padding-block);
  padding-inline: var(--_padding-inline);

  display: grid;
  grid-auto-rows: max-content;
  grid-template-columns:
    [full-screen-start] var(--_save-area)
    [save-screen-start] var(--_content)
    [save-screen-end] var(--_save-area)
    [full-screen-end];
  gap: var(--_gap);

  :where(&) > :where(*) {
    grid-column: save-screen;
  }

  :where(&) > :where(.full-screen) {
    grid-column: full-screen;
  }
}

.screen-clipped-border {
  clip-path: url(#crtPath);
}

.tv-layout {
  height: var(--tv-height);
  width: 100%;

  display: grid;
  grid-template-columns:
    var(--tv-padding)
    [vhs-slot-start screen-frame-start] var(--screen-padding)
    [screen-content-start] 1fr
    [screen-content-end] var(--screen-padding)
    [vhs-slot-end screen-frame-end] var(--tv-padding);

  grid-template-rows:
    var(--tv-padding)
    [screen-frame-start] var(--screen-padding)
    [screen-content-start] calc(
      var(--screen-height) - 2 * var(--screen-padding)
    )
    [screen-content-end] var(--screen-padding)
    [screen-frame-end button-row-start]
    var(--module-gap)
    [button-row-end vhs-slot-start] var(--vhs-slot-height)
    [vhs-slot-end]
    var(--tv-padding);

  .tv-screen {
    grid-area: screen-frame;
  }

  .screen-content {
    grid-area: screen-content;
  }

  .tv-power-button {
    grid-area: button-row / screen-content;
  }

  .vhs-slot {
    grid-area: vhs-slot;
  }
}
