---
export interface Props {
	className?: string;
}

const { className = "" } = Astro.props;
---

<aside class=`vhs-player ${className}`>
	<span>Copy and Paetow VHS Player deluxe</span>
</aside>

<style is:global>
	@layer components {
		.scene {
			--vhs-slot-padding: 0.1rem;
			--vhs-slot-width: calc(var(--tv-width) - 2 * var(--tv-padding));
			--vhs-slot-height: calc(
				var(--vhs-slot-width) / var(--cassette-aspect-ratio) + 2 * var(--vhs-slot-padding)
			);
			--vhs-gap: 8px;
		}

		.vhs-player {
			background: black;
			overflow: hidden;
			border-radius: var(--tv-border-radius);
		}

		.vhs-player span {
			background: var(--tv-background);
			position: absolute;
			inset: calc(var(--vhs-slot-padding) * 2);
			transform: translateY(-100%);
			transition: transform 400ms ease 400ms;
			display: grid;
			place-content: center;
			font-weight: bold;
		}
	}
</style>
