---
export interface Props {
  className?: string;
}

const { className = "" } = Astro.props;
---

<aside class=`vhs-player ${className} centered`>
  <span>VHS Player deluxe</span>
</aside>

<style>
  .vhs-player {
    background: black;
    overflow: hidden;
    border-radius: var(--tv-border-radius);
  }

  .vhs-player > span {
    background: var(--tv-background);
    position: absolute;
    inset: calc(var(--vhs-slot-padding) / 2);
    top: 0;
    transform-origin: top;
    transition: transform 400ms ease 400ms;
    font-weight: bold;
  }

  :global(:has(.cassette:target)) .vhs-player > span {
    transform: rotateX(89deg);
    transition: none;
  }
</style>
