---
import Program from "./program.astro";
import Settings from "./settings.astro";
import Back from "../icons/back.svg?raw";

export interface Props {
	className?: string;
	animationDefault?: boolean;
}

const { className = "", animationDefault = true } = Astro.props;
---

<script>
	//
</script>

<section class={`screen-content-layout screen-clipped-border screen-root camera ${className}`}>
	<!--@ts-expect-error popovertargetaction is to new? -->
	<button
		class="screen-back-button with-icon-start"
		popovertarget="remote-modal"
		popovertargetaction="hide"
		><Fragment set:html={Back} /> exit
	</button>
	<ol>
		<li>
			<!--@ts-expect-error popovertargetaction is to new? -->
			<button popovertarget="tv-program" popovertargetaction="show">program</button>
		</li>
		<li>
			<!--@ts-expect-error popovertargetaction is to new? -->
			<button popovertarget="settings" popovertargetaction="show">settings</button>
		</li>
	</ol>
</section>

<Settings animationDefault={animationDefault} />
<Program />
