---
import Back from "../icons/back.svg?raw";
---

<script>
	import "../../../components/helper/popover-helper";
</script>

<popover-helper>
	<dialog
		id="settings"
		popover="manual"
		class="camera secondary-menu screen-clipped-border screen-root"
	>
		<section class="screen-content-layout">
			<!--@ts-expect-error popovertargetaction is to new? -->
			<button
				class="screen-back-button with-icon-start"
				popovertarget="settings"
				popovertargetaction="hide"><Fragment set:html={Back} />back</button
			>

			<ol class="content-settings">
				<li>
					<label for="settings-animation">Animations</label>
					<hr />
					<input type="checkbox" name="settings-animation" id="settings-animation" checked />
				</li>
				<li>
					<label for="settings-sound">Sound</label>
					<hr />
					<input type="checkbox" name="settings-sound" id="settings-sound" />
				</li>
				<li>
					<label for="settings-three-dimensional">3D effects</label>
					<hr />
					<input
						type="checkbox"
						name="settings-three-dimensional"
						id="settings-three-dimensional"
					/>
				</li>
			</ol>
		</section>
	</dialog>
</popover-helper>

<style is:global>
	@layer components {
		.content-settings {
			& input {
				appearance: none;
				background-color: var(--block-background);
				position: absolute;
				width: 0;
				height: 0;
				z-index: -1;
			}

			& li {
				display: grid;
				grid-template-columns: max-content max-content 1fr max-content;
				grid-template-areas: "number title line state";
				gap: var(--_screen-content-gap);
				align-items: center;
				width: 100%;
			}

			& hr {
				border-bottom: 4px dotted currentColor;
				transform: translateY(2px);
				align-self: center;
			}

			& li::after {
				content: "off";
			}

			& li:has(input:checked)::after {
				content: "on";
			}
		}
	}
</style>
