---

---

<ol>
	<li>
		<label for="settings-animation">
			<input type="checkbox" name="settings-animation" id="settings-animation" />
		</label>
	</li>
	<li>
		<label for="settings-sound">
			<input type="checkbox" name="settings-sound" id="settings-sound" />
		</label>
	</li>
	<li>
		<label for="settings-three-dimensional">
			<input type="checkbox" name="settings-three-dimensional" id="settings-three-dimensional" />
		</label>
	</li>
</ol>

<style is:global>
	@layer components {
	}
</style>
