---
import ScreenLayout from "../layouts/screen-layout.astro";
---

<script>
	//
</script>

<ScreenLayout title="About Copy and Paetow">
	<p class="">
		As a passionate and dynamic Frontend Developer, my journey in the tech world has been driven by
		a relentless pursuit of innovation and a deep commitment to creating impactful user experiences.
		With over three years of professional experience, primarily centered around React and
		TypeScript, I have honed my skills in crafting intuitive, responsive interfaces that not only
		meet but exceed user expectations.
		<br />
		My career began at Accenture Song, where I immersed myself in the fast-paced world of frontend development.
		Here, I mastered the art of balancing technical proficiency with creative design, working closely
		with cross-functional teams to bring complex projects to fruition. My role involved not just coding,
		but also mentoring and contributing to the team's technical vision, embodying a leadership role that
		went beyond mere development.
		<br />
		A significant part of my professional growth has been characterized by a deep-rooted passion for
		learning. As a self-taught developer, I quickly adapted to the evolving landscape of frontend technologies,
		demonstrating my ability to stay ahead in an ever-changing industry. This adaptability, combined
		with a rigorous approach to problem-solving, has enabled me to deliver high-quality solutions consistently.
		<br />
		My enthusiasm for frontend development is matched by my commitment to sustainability and community
		involvement. At my previous workplace, I advocated for sustainable practices, reflecting my belief
		in the importance of responsible and ethical tech development. This experience has not only enriched
		my professional journey but also aligned with my personal values.
		<br />
		In my pursuit of excellence, I have always placed a premium on collaboration and knowledge sharing.
		Whether it's working in agile, multidisciplinary teams or contributing to open-source projects, I
		thrive in environments that foster collective growth and innovation.
		<br />
		As I continue my career, I am eager to explore new challenges and technologies, particularly in the
		realm of 3D web experiences. My goal is to not only be at the forefront of frontend development but
		also to drive change and make a tangible impact through my work. My career began at Accenture Song,
		where I immersed myself in the fast-paced world of frontend development. Here, I mastered the art
		of balancing technical proficiency with creative design, working closely with cross-functional teams
		to bring complex projects to fruition. My role involved not just coding, but also mentoring and contributing
		to the team's technical vision, embodying a leadership role that went beyond mere development.
		<br />
		My career began at Accenture Song, where I immersed myself in the fast-paced world of frontend development.
		Here, I mastered the art of balancing technical proficiency with creative design, working closely
		with cross-functional teams to bring complex projects to fruition. My role involved not just coding,
		but also mentoring and contributing to the team's technical vision, embodying a leadership role that
		went beyond mere development.
		<br />
		My career began at Accenture Song, where I immersed myself in the fast-paced world of frontend development.
		Here, I mastered the art of balancing technical proficiency with creative design, working closely
		with cross-functional teams to bring complex projects to fruition. My role involved not just coding,
		but also mentoring and contributing to the team's technical vision, embodying a leadership role that
		went beyond mere development.
		<br />
		My career began at Accenture Song, where I immersed myself in the fast-paced world of frontend development.
		Here, I mastered the art of balancing technical proficiency with creative design, working closely
		with cross-functional teams to bring complex projects to fruition. My role involved not just coding,
		but also mentoring and contributing to the team's technical vision, embodying a leadership role that
		went beyond mere development.
		<br />
	</p>
</ScreenLayout>

<style is:global></style>
