---
import ScreenLayout from "../layouts/screen-layout.astro";
---

<script>
	//
</script>

<ScreenLayout title="About Copy and Paetow">
	<header slot="header">
		<h1>About a curious mind</h1>
	</header>
	<section>
		<p>
			Since my first gameboy I was drawn to the screen and to the endless possiblites that live
			inside.
		</p>
	</section>
</ScreenLayout>
