---
import ScreenLayout from "../layouts/screen-layout.astro";
---

<script>
	//
</script>

<ScreenLayout title="About Copy and Paetow">
	<header slot="header">
		<h1>About a curious mind</h1>
	</header>
	<section class="text-block">
		<p>
			Since my first Gameboy I was drawn to the screen and to the endless possibilities that live
			inside.
		</p>
		<p>
			I initially didn't plan to become a developer, I set out to become a pharmacist. I am always
			intrigued by how things work and like to understand why things happen. The human body was an
			obvious choice. I mean, I have a body. Why does it do the things it does? A great mystery to
			solve.
		</p>
		<p>
			I resisted the calling once during my bachelor thesis, which made me write a small Python
			program geared towards bioinformatics, but that didn't stick. To get a job, I thought I needed
			my own web presence and learned basic HTML, CSS, and enough Javascript to toggle classes, etc.
			I will never forget the moment when an interactive tutorial made me add a predefined
			stylesheet to a simple HTML page. Suddenly, it all looked so pretty. This time I was not able
			to resist. Instead of stopping here, and using the website as an online portfolio for a
			pharmacist job, I took time off to learn this magic and got a job some months later,
			kickstarting my developer journey.
		</p>
		<p>
			Learning how to make the site pretty and interactive with animations was always the easy part
			for me. Javascript was only a necessity to make these interactions in the beginning. Turns out
			that for the more difficult, app-like animations you needed more Javascript than some toggled
			CSS classes here and there (back in 2019). It was the time of the single-page apps and started
			with the Vue-JS framework since it looked like chunks of HTML, CSS, and Javascript.
		</p>
		<p>
			Javascript was the hardest to learn for me. I guess it was more about a connection I made
			early as a student that programming can only be done by computer science people. To become one
			of these computer science people, complex math was required. At my university, computer
			science and math had the same courses for the first two semesters and where infamous for
			failing people who just like computers. What a high barrier of entry.
		</p>
		<p>
			After settling in with my first official developer job, I wanted to learn more about how stuff
			works. How do these Javascript frameworks achieve reactivity? How do they render? What makes
			something render fast? etc. I felt I found a whole new world of mysteries to solve.
			Additionally, the time to the next mystery in my coding job is sooooo much faster than it
			would have been as a pharmacist.
		</p>
	</section>
</ScreenLayout>
