---
import Layout from "../layouts/layout.astro";
import TV from "../components/tv.astro";
import CassettePile from "../components/cassettes/cassette-pile.astro";
import Remote from "../components/remote/remote.astro";
import Room from "../components/room.astro";
---

<Layout title="Copy and Paetow">
  <header class="visually-hidden">
    <h1>Hey, it</h1>
    <span
      >The scene features a retro tv standing on a pile of vhs tapes. Selecting
      a tape will preview its content</span
    >
  </header>
  <main class="camera centered">
    <div class="tv-scene scene small-screen z-layer-interactivity">
      <Remote className="interactive" />

      <TV className="tv-interactive" />

      <CassettePile className="interactive" />

      <Room />
    </div>
  </main>
</Layout>

<style>
  :where(main) {
    contain: layout;
  }
</style>
