---
import Layout from "../layouts/Layout.astro";
import TV from "../components/tv/tv.astro";
import Cassette from "../components/tv-cassette/cassette.astro";
import CassettePile from "../components/tv-cassette/cassette-pile.astro";
import Remote from "../components/tv-remote/remote.astro";
import Room from "../components/tv/room.astro";
import Camera from "../components/3d/camera.astro";
import RickRoll from "../components/jokes/rickroll.astro";
import DinkelBerg from "../components/jokes/dinkelberg.astro";
---

<script>
	/*

## today

- enable channel functionality
- mute and other settings should have their own icon on the screen
- inputting numbers should also wait a little before going to that number
  



## bugs

- on iOS the default button color is blue, so all remote buttons are blue
- on iOS/firefox the remote fieldset is not spacing right, better to just not use it and find another solution

- tape variants show whitespace in smaller viewports
- all blocks have an outline but the tv
- the vhs slot cover cant move realistically since the background is overlaying it. We would need to create a cutout in the background
- alt-tabbing while the remote is open can shift the layout => should be inert
- remote buttons can be alt-tabbed to even if it is not open

- performance is not great, yet it is still unclear why

## refactorings

- unify css values
- update custom property names
- extract similar functionality into classes
- improve remote color and borders
- 3d elements should all be blocks
- unify 3d button components
- make the realistic inset a class that can be adjusted with custom properties
- disable js only functionality with @media (scripting: none)


## content

- dinkelberg with a meme
- the 3d episode
- about me
- jokes / css datbase / fix printer

## future features
- real inset of the displays
- shadows
- add more sounds
- add more realistic VCR effects
=> https://aleclownes.com/2017/02/01/crt-display.html
=> https://blog.webguy.pw/blog/simulating-a-crt-monitor-in-css/
=> https://crt.no/

- add more realistic buttons
=> https://codepen.io/nicolasjesenberger/pen/gOqzJed

- rotate the scene based on mouse position => this might be a little to strong, it would make more sense to do this for the background
- animate putting in a new tape
- add scenery that changes with the content of the selected tape (background stuff, colors etc) and maybe even a parallax effect
- add height with boxes and gimmicks like a 3d sandwhich (2 buns + lettuce + patty + cheese + tomatO => https://codepen.io/qub3r-001/pen/KKveNaK)

*/
</script>

<Layout title="Copy and Paetow">
	<main>
		<Camera>
			<div class="tv-scene scene z-layer-interactivity">
				<span class="visually-hidden"
					>the scene shows a retro tv standing on a pile of vhs tapes. Selecting a tape will preview
					the content</span
				>

				<Remote className="interactive" />

				<TV className="tv-interactive" />

				<CassettePile className="interactive">
					<Cassette decoType="c" id="intro">
						<a href="#intro" aria-label="jumps to the tv and previews this page"
							>the intro nobody asked for</a
						>
						<Fragment slot="screen">
							<h1>Hi, Lucas here</h1>
							<p>
								I am looking for a opportunities to create delight and performant movements on the
								web.
							</p>
							<button>hello</button>
						</Fragment>
					</Cassette>
					<Cassette decoType="c" tapeType="stripes"><a href="#now">now</a></Cassette>
					<Cassette decoType="a" tapeType="stripes">
						<a href="#bewegung">how to make an animation library</a>
					</Cassette>
					<Cassette decoType="b" tapeType="checked" id="that-3d-episode">
						<a href="that-3d-episode">That 3D episode</a>
					</Cassette>
					<Cassette decoType="b" tapeType="checked" id="css-database">
						<a href="#css-database">Connect your database with CSS</a>
						<RickRoll slot="screen" />
					</Cassette>
					<Cassette decoType="b" tapeType="checked" id="dinkelberg">
						<a href="#dinkelberg">DINKELBERG</a>
						<DinkelBerg slot="screen" />
					</Cassette>
					<Cassette decoType="c" tapeType="stripes"><a href="#about">about</a></Cassette>
					<Cassette decoType="b" tapeType="checked" id="printer">
						<a href="#printer">How to fix your printer</a>
						<RickRoll slot="screen" />
					</Cassette>
				</CassettePile>

				<Room />
			</div>
		</Camera>
	</main>
</Layout>

<style is:global>
	@layer defaults {
		:where(body:has(#remote-modal[open]), body:has(#remote-modal:popover-open)) {
			position: fixed;
			width: 100%;
			height: 100%;

			.scene {
				--scene-padding: 0px;
				--remote-depth: 0px;
			}
		}

		main {
			display: grid;
			place-content: center;
		}
	}

	@layer components {
		.z-layer-interactivity {
			/* this are required for safari and firefox interactivity */
			transform: translateZ(calc(var(--tv-depth) * -1));

			.interactive {
				transform: translateZ(var(--tv-depth));
			}

			.tv-interactive {
				transform: translateZ(calc(var(--tv-depth) + var(--tv-offset-z)));
			}
		}

		.tv-scene {
			width: var(--scene-width);
			padding-block: var(--scene-padding);
		}

		.scene {
			--min-width: 320px;
			--min-padding: 4px;

			--scene-width: clamp(
				calc(var(--min-width) - 2 * var(--min-padding)),
				calc(100vw - 2 * var(--min-padding)),
				500px
			);
			--scene-padding: 10svh;
		}

		.joke {
			width: 100%;
			object-fit: cover;
		}
	}
</style>
