---
import Layout from "../layouts/Layout.astro";
import TV from "../components/tv.astro";
import Cassette from "../components/cassette.astro";
---

<script>
	/*
- currently TV and Cassette have an empty wrapper just for styles
=> we could pass a class and define the html element tag from the outside

- we need some kind of settings for the goofyness
=> To show the casette or go straight to the article could be an option
=> no animations

- add covers around the cassettes
=> on hover/click etc the tape could move out a bit but not the cover
=> needs basic animation though

- make the tv sticky
- make labels into buttons with popover
=> custom component for the buttons? The Dialog? Both? One big one?
=> we need to emulate the close on esc/outside click behaviour
=> do we need inert as well?
=> add anchor elements in a <noscript> tag and use @supports selector(:popover-open) to check if they need display: initial or none

- extract styles of the screen and share with the popover
=> make it match with the tv stickyness

- hide the books coming out of the screen if we are scrolled down too much

- how to change the cassettes in the current slot?
=> .cassette:has(:popover-open) can give us the current cassette
=> maybe we need to add the cutout ability to the cassette itselfs because currently it is difficult to position the 
=> another option would be to make a cutout by painting everything besides a certain space with linear-gradient. The background would then need to be closer (z-index) than the cassettes. So they would need to be slotted in there somehow
=> if they are in a list together, maybe we can get scroll snapping to work?



  ##improvements

	- limit scope from slotted elements: https://css-tricks.com/weekly-platform-news-focus-rings-donut-scope-ditching-em-units-and-global-privacy-control/

	- sometimes content from within the cube shines through. There seem to be a 1px gap 

*/
</script>

<Layout title="Bewegung">
	<nav></nav>

	<header></header>

	<TV className="main">
		<Cassette width="450px" decoType="c" id="1">
			<a href="#1">the intro nobody asked for</a>
			<section class="cassette-content screen" slot="screen">
				<h1>Hi, Lucas here</h1>
				<p>
					I am looking for a opportunities to create delight and performant movements on the web.
				</p>
			</section>
		</Cassette>

		<Cassette width="450px" decoType="a" tapeType="stripes" id="2">
			<dialog id="sfs" popover>
				<a href="#">screen content</a>
			</dialog>
			<button popovertarget="sfs">Scrollytelling for squirrels</button>
		</Cassette>
		<Cassette width="450px" decoType="b" tapeType="checked" id="od">
			<a href="#od">Connect your database with CSS</a>
			<section class="cassette-content screen" slot="screen">
				<p>fake news</p>
			</section>
		</Cassette>
		<Cassette width="450px" decoType="c" tapeType="stripes"><p>Your joke here</p></Cassette>
		<Cassette width="450px" decoType="a" tapeType="checked"><p>DINKELBERG</p></Cassette>
		<Cassette width="450px" decoType="a" tapeType="checked"><p>DINKELBERG 2</p></Cassette>
		<Cassette width="450px" decoType="a" tapeType="checked"><p>DINKELBERG 3</p></Cassette>
		<Cassette width="450px" decoType="a" tapeType="checked"><p>DINKELBERG 4</p></Cassette>
		<Cassette width="450px" decoType="a" tapeType="checked"><p>DINKELBERG 5</p></Cassette>
		<Cassette width="450px" decoType="a" tapeType="checked" id="printer">
			<a href="#printer">How to fix your printer</a>
			<section class="cassette-content screen" slot="screen">
				<p>fake news</p>
			</section>
		</Cassette>
		<Cassette width="450px" decoType="a" tapeType="checked"><p>DINKELBERG 3</p></Cassette>
		<Cassette width="450px" decoType="a" tapeType="checked"><p>DINKELBERG 4</p></Cassette>
		<Cassette width="450px" decoType="a" tapeType="checked"><p>DINKELBERG 5</p></Cassette>
	</TV>
</Layout>
<footer>Its 2023 and I am still putting books on the floor - Lucas Paetow</footer>

<style is:global>
	@layer defaults {
		body {
			--padding: minmax(1rem, 1fr);
			--footer-main-intersection: 20vh;
			--header-spacing: var(--space-5);
			--nav-size: 5rem;
			--header-size: 20vh;
			--above-scene: calc(var(--nav-size) + var(--header-size));

			display: grid;
			grid-template-columns:
				[full-start] var(--padding)
				[main-start] minmax(calc(320px - 2 * 1rem), 60rem)
				[main-end] var(--padding)
				[full-end];

			grid-template-rows:
				[nav-start] var(--nav-size)
				[nav-end header-start] var(--header-size)
				[header-end main-start] 1fr
				[footer-start] var(--footer-main-intersection)
				[main-end] minmax(calc(var(--above-scene) - 80px), max-content)
				[footer-end];
		}

		dialog {
			&::backdrop {
				content: "";
			}

			&[popover] .tv-cassette {
				opacity: 0.5;
			}
		}

		.tv-cassette:has(::backdrop) {
			opacity: 0.5;
		}

		nav {
			grid-area: nav / full;
		}

		header {
			grid-area: header / full;
		}

		.main {
			grid-area: main;
		}

		footer {
			grid-area: footer / full;

			display: grid;
			place-content: end center;
			color: var(--grey-10);
			background-color: var(--grey-70);
		}
	}

	@layer components {
		nav {
		}

		header {
		}

		dialog {
			width: 400px;
			height: 301.8px;
			border-radius: 2rem;
			border: 4px solid black;
			top: 33.5vh;
			left: 50%;
			transform: translateX(-48%);
		}
	}
</style>
