---
import Layout from "../layouts/Layout.astro";
import Book from "../components/book.astro";
---

<script></script>

<Layout title="Bewegung">
	<nav>
		<button>instructions</button>
		<button>shenanigans</button>
		<ul>
			<li>book title</li>
		</ul>
	</nav>

	<header>
		<h1>copy and paetow</h1>
	</header>

	<main class="scene" style="--amount: 4">
		<Book title="About Me" id="about-me" order={1} color="blue">
			<a slot="front-header">About Me</a>
			<p slot="front-body">written by a mad man - not my mum</p>
		</Book>
		<Book title="About somebody else" id="somebody" order={2} color="red" size="l" offset={-3}>
			hello
		</Book>
		<Book title="Your Joke here" id="joke" order={3} color="green" offset={-1}>hello</Book>
		<Book title="pew pew" id="pew-pew" order={4} color="yellow" size="s" offset={2}>hello</Book>
	</main>
	<footer>Its 2023 and I am still putting books on the floor - Lucas Paetow</footer>
</Layout>

<style is:global>
	body {
		--padding: minmax(1rem, 1fr);
		--footer-main-intersection: 20vh;

		display: grid;
		grid-template-columns:
			[full-start] var(--padding)
			[main-start] minmax(calc(320px - 2 * 1rem), 60rem)
			[main-end] var(--padding)
			[full-end];

		grid-template-rows:
			[nav-start] max-content
			[nav-end header-start] max-content
			[header-end main-start] minmax(80svh, 1fr)
			[footer-start] var(--footer-main-intersection)
			[main-end] minmax(10vh, max-content)
			[footer-end];
	}

	nav {
		display: flex;
		grid-area: nav / full;
	}

	header {
		padding-block: var(--space-5) 20vh;
		text-align: center;
		color: var(--grey-10);
		grid-area: header / full;
	}

	main {
		grid-area: main;
		display: grid;
		gap: 1rem;
		grid-auto-rows: max-content;
	}

	.scene {
		perspective: calc(100vw * 5);
		perspective-origin: 166vw -66vw;
		position: relative;

		&::after {
			content: "";
			position: absolute;
			background-color: hsla(0, 0%, 0%, 0.5);
			left: calc((100vw - 100%) / -2);
			top: calc(var(--footer-main-intersection) * -1);
			height: 100svh;
			width: calc(100vw - 17.2px);
			transform: scaleY(1.25);
			transform-origin: bottom;
			pointer-events: none;
			opacity: 0;
			z-index: var(--amount);
			transition: opacity 400ms ease;
		}

		&:has(:target)::after {
			opacity: 1;
		}
	}

	footer {
		grid-area: footer / full;

		display: grid;
		place-content: end center;
		color: var(--grey-10);
		background-color: var(--grey-70);
	}
</style>
