---
import Layout from "../layouts/Layout.astro";
import TV from "../components/tv.astro";
import Cassette from "../components/cassette.astro";
---

<script>
	/*

- add covers around the cassettes
- offset cassettes

- rebuild the tv
- screen styles

  ##improvements

- use IO to change the tapes on scroll. Needs to be deactivatable via a toggle though
- scroll snapping for the tapes would be nice
- reset buttons if power is clicked
- mobile view could be improved
=> It needs some kind of offset so it can scroll to the bottom. Currently this is not working great
=> we need at least one cassette in view, so users know that there is something

*/
</script>

<Layout title="Bewegung">
	<nav></nav>

	<header></header>

	<main class="scene">
		<TV>
			<Cassette decoType="c" id="1">
				<a href="#1">the intro nobody asked for</a>
				<section class="cassette-content screen" slot="screen">
					<h1>Hi, Lucas here</h1>
					<p>
						I am looking for a opportunities to create delight and performant movements on the web.
					</p>
					<button>hello</button>
				</section>
			</Cassette>

			<Cassette decoType="a" tapeType="stripes" id="2">
				<dialog id="sfs" popover>
					<a href="#">screen content</a>
				</dialog>
				<button popovertarget="sfs">Scrollytelling for squirrels</button>
			</Cassette>
			<Cassette decoType="b" tapeType="checked" id="od">
				<a href="#od">Connect your database with CSS</a>
				<section class="cassette-content screen" slot="screen">
					<p>fake news</p>
				</section>
			</Cassette>
			<Cassette decoType="c" tapeType="stripes"><p>Your joke here</p></Cassette>
			<Cassette decoType="a" tapeType="checked"><p>DINKELBERG</p></Cassette>
			<Cassette decoType="a" tapeType="checked"><p>DINKELBERG 2</p></Cassette>
			<Cassette decoType="a" tapeType="checked"><p>DINKELBERG 3</p></Cassette>
			<Cassette decoType="a" tapeType="checked"><p>DINKELBERG 4</p></Cassette>
			<Cassette decoType="a" tapeType="checked"><p>DINKELBERG 5</p></Cassette>
			<Cassette decoType="a" tapeType="checked" id="printer">
				<a href="#printer">How to fix your printer</a>
				<section class="cassette-content screen" slot="screen">
					<p>fake news</p>
				</section>
			</Cassette>
			<Cassette decoType="a" tapeType="checked"><p>DINKELBERG 3</p></Cassette>
			<Cassette decoType="a" tapeType="checked"><p>DINKELBERG 4</p></Cassette>
			<Cassette decoType="a" tapeType="checked"><p>DINKELBERG 5</p></Cassette>
		</TV>
	</main>
</Layout>
<footer>Its 2023 and I am still putting books on the floor - Lucas Paetow</footer>

<style is:global>
	@layer defaults {
		body {
			--padding: minmax(1rem, 1fr);
			--footer-main-intersection: 20svh;
			--header-spacing: var(--space-5);
			--nav-size: 2rem;
			--header-size: 10svh;
			--above-scene: calc((var(--nav-size) + var(--header-size)));

			display: grid;
			grid-template-columns:
				[full-start] var(--padding)
				[main-start] minmax(calc(320px - 2 * 1rem), 60rem)
				[main-end] var(--padding)
				[full-end];

			grid-template-rows:
				[nav-start] var(--nav-size)
				[nav-end header-start] var(--header-size)
				[header-end main-start] 1fr
				[footer-start] var(--footer-main-intersection)
				[main-end] minmax(calc(var(--above-scene) + var(--header-size)), max-content)
				[footer-end];
		}

		@media (min-width: 30rem) {
			body {
				--header-size: 15svh;
			}
		}

		@media (min-width: 40rem) {
			body {
				--header-size: 20svh;
			}
		}

		nav {
			grid-area: nav / full;
		}

		header {
			grid-area: header / full;
		}

		main {
			grid-area: main;
			display: grid;
			place-content: center;
		}

		footer {
			grid-area: footer / full;

			display: grid;
			place-content: end center;
			color: var(--grey-10);
			background-color: var(--grey-70);
		}
	}
</style>
