---
import Layout from "../layouts/Layout.astro";
import TV from "../components/tv/tv-scene.astro";
import TVRemoteLink from "../components/tv-remote/remote-links.astro";
import Cassette from "../components/tv-cassette/cassette.astro";
import CassetteScreen from "../components/tv-cassette/cassette-screen.astro";
---

<script>
	/*

- we should be able to define which side the camera "sees", so we can decide which blocks to render or not

- enable channel functionality (up, down, select, scroll snap, arrow keys)
- re-add a power light on the screen
- improve remote color and borders
- try new screen shape
- remote needs a dedicated close button

- simple view: no 3d, sticky monitor
- tilting view: 3d front, sticky scrolling of the content?
=> this is not that performant... Maybe it can be done with scoll Animations

## JS

- reset buttons if power is clicked
- enable popover functionality for firefox
- animate putting in a new tape
- improve the remote animation (initial location is only valid if we are not scrolled down)

- rotate the scene based on mouse position => this might be a little to strong, it would make more sense to do this for the background
- noscript elements are placed where there is js used

## bugs

- tape variants show whitespace in smaller viewports

## refactorings

- find a common language for the css classes, like for when grapping the blocks for layouting, their front face etc
=> maybe [noun]-scene or [noun]-root, [noun]-layout, [noun]-front/left/right








## features
- we could do a slower intro that gets interrupted as soon as you interact with the page
- add more sounds
- add scenery that change with the content of the selected tape
- add more realistic VCR effects
=> https://aleclownes.com/2017/02/01/crt-display.html
=> https://blog.webguy.pw/blog/simulating-a-crt-monitor-in-css/

- add more realistic buttons
=> https://codepen.io/nicolasjesenberger/pen/gOqzJed


*/
</script>

<Layout title="Copy and Paetow">
	<main>
		<TV>
			<Fragment slot="remote">
				<TVRemoteLink>
					<a href="about">about</a>
				</TVRemoteLink>
				<TVRemoteLink>
					<a href="dinkelberg">dinkelberg</a>
				</TVRemoteLink>
				<TVRemoteLink>
					<a href="css-printer">css-printer</a>
				</TVRemoteLink>
			</Fragment>

			<Cassette decoType="c" id="1">
				<a href="#1" aria-label="jumps to the tv and previews this page"
					>the intro nobody asked for</a
				>
				<CassetteScreen slot="screen" overlay="lines">
					<h1>Hi, Lucas here</h1>
					<p>
						I am looking for a opportunities to create delight and performant movements on the web.
					</p>
					<button>hello</button>
				</CassetteScreen>
			</Cassette>
			<Cassette decoType="b" tapeType="checked" id="od">
				<a href="#od">Connect your database with CSS</a>
				<CassetteScreen slot="screen">
					<p>fake news</p>
				</CassetteScreen>
			</Cassette>
			<Cassette decoType="c" tapeType="stripes"><p>Your joke here</p></Cassette>
			<Cassette decoType="a" tapeType="checked"><p>DINKELBERG</p></Cassette>
			<Cassette decoType="a" tapeType="checked"><p>DINKELBERG 2</p></Cassette>
			<Cassette decoType="a" tapeType="checked"><p>DINKELBERG 3</p></Cassette>
			<Cassette decoType="a" tapeType="checked"><p>DINKELBERG 4</p></Cassette>
			<Cassette decoType="a" tapeType="checked"><p>DINKELBERG 5</p></Cassette>
			<Cassette decoType="a" tapeType="checked" id="printer">
				<a href="#printer">How to fix your printer</a>
				<CassetteScreen slot="screen">
					<p>fake news</p>
				</CassetteScreen>
			</Cassette>
			<Cassette decoType="a" tapeType="checked"><p>DINKELBERG 3</p></Cassette>
			<Cassette decoType="a" tapeType="checked"><p>DINKELBERG 4</p></Cassette>
			<Cassette decoType="a" tapeType="checked"><p>DINKELBERG 5</p></Cassette>
		</TV>
	</main>
</Layout>

<style is:global>
	@layer defaults {
		body:has(:popover-open) {
			position: fixed;
			inset: 0;
		}

		main {
			display: grid;
			place-content: center;
		}
	}
</style>
