---
import Layout from "../layouts/layout.astro";
import TV from "../features/tv/tv.astro";
import CassettePile from "../features/tv/cassettes/cassette-pile.astro";
import Remote from "../features/tv/remote/remote.astro";
import Room from "../features/tv/room.astro";
---

<script>
	/*

## todo: remote
- enable channel functionality
- settings label buttons on the remote need some kind of grouping
- real remote buttons

## todo: content
- rewrite about text
- include bewegung text

## todo: animation and sounds
- add more sounds
=> tv turning on
=> static noise and animation of the static
- rotate the scene slightly based on mouse position

##todo: 3d
- add height with boxes and gimmicks like a 3d sandwhich (2 buns + lettuce + patty + cheese + tomatO => https://codepen.io/qub3r-001/pen/KKveNaK)
- turn the top level div inside of the block into a custom component that gets coordinates and can render the scene based on what the camera is like
=> we can do this even better> We just need one element with 2 (pseudo) elements. If the camera changes, the elements render differently. Ideally, one element is always responsible for one plane and just moves sideways and or flips

##todo: show/hide content rework
- cassette content needs overflow: auto for content and full-screen for media
- the on/off animations need to be unified
- the remote will not be usable without javascript. In that case we should only show it in its extended form when js is enabled


## bugs
- on safari modals are focused?
- all 3d elements need to either have an outline/border or some kind of shadow not a mix of both
- z-indices are unsorted, could be turned into a layer system
- overflowing the preview content leads to also moving of the screen effect, can it be done without a wrapper?
- maybe splitting the screen text and screen animation might be a good idea after all because in the remote setting, the text is needed seperatly

*/
</script>

<Layout title="Copy and Paetow">
	<header class="visually-hidden">
		<h1>Hey, it</h1>
		<span
			>The scene features a retro tv standing on a pile of vhs tapes. Selecting a tape will preview
			its content</span
		>
	</header>
	<main>
		<div class="camera">
			<div class="tv-scene scene small-screen z-layer-interactivity">
				<Remote className="interactive" />

				<TV className="tv-interactive" />

				<CassettePile className="interactive" />

				<Room />
			</div>
		</div>
	</main>
</Layout>

<style is:global>
	@layer defaults {
		:where(body) {
			contain: layout;
		}

		main {
			display: grid;
			place-content: center;
		}
	}
</style>
