---
import "../styles/styles.css";
import Scene from "@components/scene/scene.astro";
import CassettePile from "../components/cassettes/cassette-pile.astro";
import Remote from "../components/remote/remote.astro";
import TV from "../components/tv/tv.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="copyandpaetow" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Copy and Paetow</title>
  </head>
  <body class="centered">
    <header class="visually-hidden">
      <h1>portfolio page</h1>
      <span
        >The scene features a retro tv standing on a pile of vhs tapes.
        Selecting a tape will preview its content</span
      >
    </header>
    <Scene>
      <Remote className="interactive" />

      <TV className="tv-interactive" />

      <CassettePile className="interactive" />
    </Scene>
  </body>
</html>
