---
import Layout from "../layouts/Layout.astro";
import Book from "../components/book.astro";
---

<script></script>

<Layout title="Bewegung">
	<nav>
		<button>instructions</button>
		<button>shenanigans</button>
		<ul>
			<li>book title</li>
		</ul>
	</nav>

	<header>
		<h1>copy and paetow</h1>
	</header>

	<main class="scene" style="--amount: 4">
		<Book title="About Me" id="about-me" position={1}>hello</Book>
		<Book title="About somebody else" id="somebody" position={2}>hello</Book>
		<Book title="Your Joke here" id="joke" position={3}>hello</Book>
		<Book title="pew pew" id="pew-pew" position={4}>hello</Book>
	</main>
	<footer>Its 2023 and I am still putting books on the floor - Lucas Paetow</footer>
</Layout>

<style is:global>
	body {
		--padding: minmax(1rem, 1fr);

		display: grid;
		grid-template-columns:
			[full-start] var(--padding)
			[main-start] minmax(calc(100vw - 2 * 1rem), 70rem)
			[main-end] var(--padding)
			[full-end];

		grid-template-rows:
			[nav-start] max-content
			[nav-end header-start] max-content
			[header-end main-start] minmax(80dvh, 1fr)
			[footer-start] 20vh
			[main-end] minmax(10vh, max-content)
			[footer-end];
	}

	nav {
		display: flex;
		grid-area: nav / full;
	}

	header {
		padding-block: var(--space-5) 20vh;
		text-align: center;
		color: var(--grey-10);
		grid-area: header / full;
	}

	main {
		grid-area: main;
		display: grid;
		gap: 1rem;
		grid-auto-rows: max-content;
	}

	.scene {
		perspective: 4000px;
		perspective-origin: 166% -100%;
	}

	footer {
		grid-area: footer / full;

		display: grid;
		place-content: end center;
		color: var(--grey-10);
		background-color: var(--grey-70);
	}
</style>
