---
import Layout from "../layouts/layout.astro";
import TV from "../features/tv/tv.astro";
import CassettePile from "../features/tv/cassettes/cassette-pile.astro";
import Remote from "../features/tv/remote/remote.astro";
import Room from "../features/tv/room.astro";
---

<Layout title="Copy and Paetow">
	<header class="visually-hidden">
		<h1>Hey, it</h1>
		<span
			>The scene features a retro tv standing on a pile of vhs tapes. Selecting a tape will preview
			its content</span
		>
	</header>
	<main>
		<div class="camera">
			<button class="cube three-dimensional" data-rotate-x="20" style="--rotate-x: 20;">
				<span class="front no-opposite content">hello</span>
				<span class="right">hello</span>
			</button>
		</div>
	</main>
</Layout>

<script>
	/*




*/
</script>

<style is:global>
	@layer defaults {
		:where(body) {
			contain: layout;
		}

		.camera {
			display: grid;
			place-content: center;
			min-height: 100dvh;

			--perspective: 2000px;
			--camera-truck: 1500px;
			--camera-pan: -40deg;
			--camera-dolly: 1000px;
			--camera-pedestal: 1000px;
			--camera-roll: -34deg;
			--block-render-top: block;
			--block-render-right: block;

			--block-render-x: "";
			--block-render-y: "";
		}

		.content {
			padding: 2rem;
		}

		.three-dimensional {
			position: relative;

			--_block-depth: 200px;
			--_block-x-direction: 1;
			--_block-y-direction: 1;

			--_block-render-front: var(--block-render-front, block);
			--_block-render-top: var(--block-render-top, none);
			--_block-render-right: var(--block-render-right, none);
			--_block-render-back: var(--block-render-back, none);
			--_block-render-bottom: var(--block-render-bottom, none);
			--_block-render-left: var(--block-render-left, none);

			--_block-render-x: var(--block-render-x, none);
			--_block-render-y: var(--block-render-y, none);

			&:has(.top):has(.bottom) {
				--_block-render-y: none;
			}
			&:has(.right):has(.left) {
				--_block-render-x: none;
			}

			&:has(.right) {
				--_block-x-direction: -1;
			}

			&:has(.bottom) {
				--_block-y-direction: -1;
			}

			.front {
				height: 100%;
				display: var(--_block-render-front);
				background: orange;
			}

			.front:not(.no-opposite)::after {
				content: "";
				position: absolute;
				display: var(--_block-render-back);
				inset: 0;
				background: blue;
				transform: rotateY(90.01deg) translateX(var(--_block-depth)) rotateY(-90.01deg);
			}

			.top,
			.bottom,
			&::before {
				content: var(--_block-render-y);
				position: absolute;
				inset: 0;
				background: yellow;
				height: var(--_block-depth);
				transform: translateY(-50%) rotateX(90.01deg) translateY(-50%);
				top: calc(50% - 50% * var(--_block-y-direction));
			}

			&:has(.bottom)::before,
			.top {
				top: 0%;
				display: var(--_block-render-top);
			}

			&:has(.top)::before,
			.bottom {
				top: 100%;
				display: var(--_block-render-bottom);
			}

			.right,
			.left,
			&::after {
				content: var(--_block-render-x);
				position: absolute;
				inset: 0;
				background: red;
				width: var(--_block-depth);
				transform: translateX(-50%) rotateY(90.01deg) translateX(50%);
				left: calc(50% + 50% * var(--_block-x-direction));
			}

			&:has(.right)::after,
			.left {
				left: 0%;
				display: var(--_block-render-left);
			}

			&:has(.left)::after,
			.right {
				left: 100%;
				display: var(--_block-render-right);
			}
		}
	}
</style>
