.scene {
	--width: var(--custom-width, clamp(150px, 25vw, 300px));
	--half-width: calc((var(--width) / 2));

	width: var(--width);
	aspect-ratio: 1;
	border: 1px solid #ccc;
	perspective: calc(var(--width) * 5);
	margin: var(--space-2);
	place-self: center;
}

.cube {
	width: var(--width);
	aspect-ratio: 1;
	position: relative;
	transform-style: preserve-3d;
	transform: translateZ(calc(var(--half-width) * -1)) rotateX(var(--rotateX, 0))
		rotateY(var(--rotateY, 0)) rotateZ(var(--rotateZ, 0));
	transition: transform 1s;
}

.cube > div {
	--background-color: var(--red);
	--layout-x: 0deg;
	--layout-y: 0deg;

	position: absolute;
	inset: 0;
	display: grid;
	place-content: center;
	background-color: var(--background-color);
	transform: rotateX(var(--layout-x)) rotateY(var(--layout-y)) translateZ(var(--half-width));
	pointer-events: none;
	z-index: var(--z-index, var(--default-z-index));

	&:target {
		--z-index: var(--length, 100);
		pointer-events: initial;
	}

	&[data-position]:where(*) {
		height: 100%;
		width: 100%;
	}

	&[data-position="front"] {
		--background-color: var(--red);
		--layout-y: 0deg;
	}
	&[data-position="back"] {
		--background-color: var(--green);
		--layout-y: 180deg;
	}
	&[data-position="right"] {
		--background-color: var(--yellow);
		--layout-y: 90deg;
	}
	&[data-position="left"] {
		--background-color: var(--cyan);
		--layout-y: -90deg;
	}
	&[data-position="anterior"] {
		--background-color: var(--blue);
		--layout-y: 0deg;
	}
	&[data-position="top"] {
		--background-color: var(--orange);
		--layout-x: 90deg;
	}
	&[data-position="posterior"] {
		--background-color: var(--purple);
		--layout-x: -180deg;
	}
	&[data-position="bottom"] {
		--background-color: var(--magenta);
		--layout-x: -90deg;
	}
}
