---

---

<h2>Adventures and nightmares with cross browser 3D</h2>
<p>
	I know what you are thinking: "3D! The best amount of dimensions". And you are absolutely right.
	Checkout <a href="#that-3d-episode">that 3D Epsiode</a> for some extra dimensional change. Sadly, it was a long road to get there. Especially non-Chrome browsers were not making it easy for me here.
</p>
<a href="3d-challenges">A list of weird browser 3D issues</a>
