---
export interface Props {
  className?: string;
}

const { className = "" } = Astro.props;
---

<footer class=`room ${className} centered`>
  <aside></aside>
  <div class="credits centered">
    <p>wow, thats a lot of tapes</p>
  </div>
</footer>

<style>
  .room {
    transform: translateZ(calc(var(--tv-depth) / 2));

    position: relative;

    & > aside {
      position: absolute;
      left: 50%;
      transform: translateX(-50%) translateZ(calc(var(--tv-depth) / 2))
        translateY(-50%) rotateX(90.01deg);
      height: 2000px;
      aspect-ratio: 1;
      background: var(--grey-60);
      border: var(--border);
    }

    & > aside::before,
    & > aside::after {
      content: "";
      inset: 0;
      position: absolute;
      transform: translateX(-50%) rotateY(90.01deg) translateX(-50%);
      background: var(--grey-85);
      border: var(--border);
    }

    & > aside::after {
      transform: translateY(-50%) rotateX(90.01deg) translateY(50%);
      background: var(--grey-90);
    }

    & .credits {
      transform: translateZ(calc(var(--tv-depth) / 2)) translateY(-50%)
        rotateX(90.01deg) translateY(calc(var(--cassette-depth) / 2));
      position: relative;
    }
  }
</style>
