.scene {
  --tv-padding-block: 10dvh;
  --tv-width: clamp(
    calc(var(--min-width) - 2 * var(--min-padding)),
    calc(100vw - 2 * var(--min-padding)),
    500px
  );
  --tv-depth: 300px;
  --tv-background: silver;
  --tv-padding: 8px;
  --tv-height: calc(
    var(--screen-height) + var(--vhs-slot-height) + 2 * var(--tv-padding) +
      var(--module-gap)
  );
  --tv-outline-color: var(--blue);
  --tv-outline-width: 2px;
  --tv-outline: var(--tv-outline-width) solid var(--tv-outline-color);
  --tv-power-on-color: var(--green);
  --tv-power-off-color: var(--red);
  --tv-border-radius: 2px;
  --tv-offset-z: 25px;
  --tv-animation-duration: 500ms;

  --module-border-radius: 0.25rem;
  --module-gap: 32px;

  --screen-padding: 0.5rem;
  --screen-border-color: var(--grey-85);
  --screen-border-color-offset: var(--grey-90);
  --screen-module-ratio: 1.1;
  --screen-height: calc(
    ((var(--tv-width) - 2 * var(--tv-padding)) / var(--screen-module-ratio))
  );
  --screen-offset-z: 20px;
  --screen-text-color: var(--black);

  --speaker-grill-color: var(--grey-85);

  --tv-button-depth: 5px;
  --tv-button-gap: 8px;
  --tv-button-width: 44px;
  --tv-button-height: 24px;
  --tv-button-shadow: 1px 1px 2px 1px hsla(0, 0%, 0%, 0.25);
  --tv-button-shadow-active: 1px 1px 1px 0px hsla(0, 0%, 0%, 0.25);
  --vhs-slot-padding: 0.2rem;
  --vhs-slot-width: calc(var(--tv-width) - 2 * var(--tv-padding));
  --vhs-slot-height: calc(
    var(--vhs-slot-width) / var(--cassette-aspect-ratio) + 2 *
      var(--vhs-slot-padding)
  );

  --cassette-depth: 220px;
  --cassette-aspect-ratio: 4.5;
  --cassette-active-offset-z: 20px;
  --cassette-pile-offset-z: calc((var(--tv-depth)) / 2);
  --cassette-gap: 2px;
  --cassette-border: 4px solid var(--black);

  --remote-depth: 30px;
  --remote-scale: 0.4;
  --remote-border: var(--grey-80);
  --remote-button-gap: 8px;
  --remote-border-width: 2px;
  --remote-bottom-padding: 5rem;

  --remote-active-offset: calc(
    var(--screen-height) + 2 * var(--screen-padding) + var(--tv-padding) +
      var(--remote-depth)
  );
  --inner-screen-width: calc(var(--tv-width) - 2 * var(--tv-screen-inset));
  --inner-screen-height: calc(var(--screen-height) - 2 * var(--screen-padding));
  --tv-offset-top: calc(var(--tv-padding-block) + var(--remote-depth));
  --tv-screen-inset: calc(var(--tv-padding) + var(--screen-padding));

  --tv-absolute-screen-position: calc(
      var(--remote-depth) + var(--tv-screen-inset)
    )
    0 0 calc((100% - var(--tv-width)) / 2 + var(--tv-screen-inset));

  @media (min-width: 22rem) {
    --tv-padding: 12px;
    --cassette-aspect-ratio: 5.5;
    --remote-scale: 0.5;
  }

  @media (min-width: 28rem) {
    --cassette-aspect-ratio: 6.5;
    --tv-padding: 20px;
    --screen-module-ratio: 1.2;
  }
}
