---
import StaticBackground from "./screen/static-background.astro";
import VHSPlayer from "./vhs-player.astro";
import ScreenCurvature from "./screen/screen-curvature.astro";
import Power from "./icons/power.svg?raw";

export interface Props {
	className?: string;
}

const { className = "" } = Astro.props;
---

<section class=`tv three-dimensional ${className}`>
	<div class="front tv-layout">
		<aside class="tv-screen screen-inset screen-inset-inline"></aside>
		<aside class="tv-screen screen-inset screen-inset-block"></aside>

		<aside class="screen-background screen-content screen-clipped-border overflow-hidden">
			<StaticBackground className="full-screen screen-animation" />
		</aside>

		<ScreenCurvature />
		<VHSPlayer className="vhs-slot" />

		<div class="tv-power-button">
			<label
				for="tv-power-button"
				class="three-dimensional"
				aria-label="toggles the screen on and off"
			>
				<span class="front"><Fragment set:html={Power} slot="icon" /></span>
				<input
					type="checkbox"
					name="tv-power-button"
					id="tv-power-button"
					checked
					class="visually-hidden"
				/>
			</label>
			Copy and Paetow TV
		</div>
	</div>
	<div class="right speaker"></div>
	<div class="left speaker"></div>
</section>

<style is:global>
	@layer components {
		.tv {
			--block-depth: var(--tv-depth);
			--block-background: var(--tv-background);
			--block-border: var(--tv-border);
			--block-border-radius: var(--tv-border-radius);
			--default-display: grid;

			pointer-events: none;

			.tv-layout {
				box-shadow: inset 0 0 7px 3px hsla(0, 100%, 100%, 0.25);
			}

			.screen-content {
				transform: translateZ(calc(var(--screen-offset-z) / -2));
			}
		}
		.tv > .front {
			background: linear-gradient(
					to left,
					var(--tv-background),
					var(--tv-background) var(--tv-padding),
					transparent var(--tv-padding),
					transparent calc(100% - var(--tv-padding)),
					var(--tv-background) calc(100% - var(--tv-padding)),
					var(--tv-background)
				),
				linear-gradient(
					to bottom,
					var(--tv-background),
					var(--tv-background) var(--tv-padding),
					transparent var(--tv-padding),
					transparent calc(var(--tv-padding) + var(--screen-height)),
					var(--tv-background) calc(var(--tv-padding) + var(--screen-height)),
					var(--tv-background) calc(var(--tv-padding) + var(--screen-height) + var(--module-gap)),
					transparent calc(var(--tv-padding) + var(--screen-height) + var(--module-gap)),
					transparent
						calc(
							var(--tv-padding) + var(--screen-height) + var(--module-gap) + var(--vhs-slot-height)
						),
					var(--tv-background)
						calc(
							var(--tv-padding) + var(--screen-height) + var(--module-gap) + var(--vhs-slot-height)
						),
					var(--tv-background)
				);
		}

		.tv-power-button {
			--block-depth: 10px;
			--block-background: rgb(255, 0, 0);
			--block-border: 2px solid rgb(130, 0, 0);

			width: max-content;
			pointer-events: initial;
			display: grid;
			gap: 12px;
			grid-auto-flow: column;
			align-self: center;
			height: max-content;

			&:has(:checked) {
				--block-background: limegreen;
				--block-border: 2px solid green;
			}

			.front {
				width: var(--remote-button-width);
				height: var(--remote-button-height);
			}

			.three-dimensional {
				transform: translateZ(var(--block-depth));
				box-shadow: 1px 1px 2px 1px hsla(0, 0%, 0%, 0.25);
			}

			.three-dimensional:has(:checked) {
				transform: translateZ(calc(var(--block-depth) / 1.5));
				box-shadow: 1px 1px 1px 0px hsla(0, 0%, 0%, 0.25);
			}
		}

		.screen-background {
			background: var(--black);

			& svg {
				background-color: var(--tv-background);
				aspect-ratio: 1;
				transform: scale(1.5);
				pointer-events: none;
			}
		}

		.screen-inset {
			--border-length: 7rem;
			position: relative;
			width: 100%;
			height: 100%;
			pointer-events: none;
			perspective: 300px;
		}

		.screen-inset-block {
			&::after,
			&::before {
				content: "";
				position: absolute;
				width: 100%;
				height: var(--border-length);
			}

			&::before {
				top: 0;
				background-color: var(--screen-border-color-offset);
				transform-origin: top;
				transform: rotateX(-70deg);
			}

			&::after {
				bottom: 0;
				background-color: var(--screen-border-color-offset);
				transform-origin: bottom;
				transform: rotateX(70deg);
			}
		}

		.screen-inset-inline {
			&::after,
			&::before {
				content: "";
				position: absolute;
				width: var(--border-length);
				height: 100%;
			}

			&::before {
				left: 0;
				background-color: var(--screen-border-color);
				transform-origin: left;
				transform: rotateY(70deg);
			}

			&::after {
				right: 0;
				background-color: var(--screen-border-color);
				transform-origin: right;
				transform: rotateY(-70deg);
			}
		}

		.speaker {
			display: grid;
			place-content: start center;
			height: 100%;
			width: 100%;
			padding: 1rem;

			&::before {
				content: "";
				aspect-ratio: 1.5;
				display: block;
				border-radius: 50%;

				background: linear-gradient(
						90deg,
						transparent 48.5%,
						var(--tv-background) 48.5%,
						var(--tv-background) 51.5%,
						transparent 51.5%
					),
					linear-gradient(
						var(--speaker-grill-color) 0%,
						var(--tv-background) 10%,
						var(--tv-background) 40%,
						var(--speaker-grill-color) 50%,
						var(--tv-border-color) 50%
					);
				background-size: 100% 0.25rem;
			}
		}
	}
</style>
