---
import Mail from "@icons/mail.svg";
---

<h2>Hi, Lucas here</h2>
<p>
  I am looking for opportunities to create delight and performant movements on
  the web.
</p>
<a class="with-icon-end" href="mailto:career.lucas.paetow@gmail.com"
  ><Mail /> reach out</a
>
