---
import TVButtons from "./TVButtons.astro";
import StaticBackground from "./TVStaticBackground.astro";
import Block from "./block.astro";
export interface Props {
	className?: string;
}

const { className = "" } = Astro.props;
---

<div class=`tv-scene flat-scene ${className}`>
	<Block className="tv">
		<div slot="front" class="tv-front">
			<div class="screen-module">
				<StaticBackground className="static-background" />
			</div>
			<div class="vhs-player-module">
				<TVButtons className="vhs-controls" />
				<aside class="vhs-slot"></aside>
			</div>
			<aside class="static-background"></aside>
		</div>
		<div slot="right" class="speaker"></div>
		<div slot="left" class="speaker"></div>
	</Block>

	<div class="cassettes">
		<slot />
	</div>
</div>

<style is:global>
	@layer components {
		.tv-scene {
			--tv-width: clamp(300px, calc(100vw - 2 * 1rem), 500px);
			--tv-depth: 300px;
			--tv-background: hsl(255, 2%, 77%);
			--tv-border-width: 2px;
			--tv-outer-border-width: 2px;

			--tv-dark: hsl(255, 2%, 22%);
			--tv-light: hsl(255, 2%, 67%);

			--tv-outer-border: var(--tv-outer-border-width) solid var(--tv-light);

			--tv-inner-boxshadow: inset 0px 0px 1px 1px hsla(0, 0%, 0%, 0.5),
				inset 0px 0px 5px 1px hsla(0, 0%, 100%, 0.5);

			--cassette-depth: 220px;
			--cassette-aspect-ratio: 4;

			--cassettes-offset-z: calc((var(--tv-depth) - var(--cassette-depth)) / 2);
			--cassette-active-offset-z: calc(var(--cassette-depth) / 4);

			--module-padding: 0.75rem;
			--module-border-radius: 0.25rem;
			--module-gap: 1px;

			--screen-module-ratio: 1.2;

			--screen-height: calc(
				(
					(var(--tv-width) - 2 * var(--tv-outer-border-width) - 2 * var(--module-padding)) /
						var(--screen-module-ratio)
				)
			);

			--screen-background: black;
			--screen-border-radius: 1rem;
			--screen-padding: 0.5rem;

			--vhs-controls-height: 50px;
			--vhs-padding: 0.25rem;
			--vhs-slot-ratio: calc(var(--cassette-aspect-ratio) - 0.25);

			--vhs-slot-width: calc(
				var(--tv-width) - 2 * var(--module-padding) - 2 * var(--tv-outer-border-width)
			);

			--vhs-slot-height: calc((var(--vhs-slot-width) / (var(--vhs-slot-ratio))));

			--tv-height: calc(
				var(--screen-height) + var(--vhs-controls-height) + var(--vhs-slot-height) + 2 *
					var(--vhs-padding) + 2 * var(--tv-outer-border-width) + 3 * var(--module-padding) +
					var(--module-gap) * 2
			);

			--screen-border-offset: calc(var(--tv-outer-border-width) + var(--module-padding));

			width: var(--tv-width);

			@media (min-width: 22rem) {
				--cassette-aspect-ratio: 5;
				--screen-padding: 1rem;
				--screen-border-radius: 1.5rem;
				--tv-outer-border-width: 4px;
			}

			@media (min-width: 28rem) {
				--module-padding: 1rem;
				--screen-padding: 1.25rem;
				--screen-border-radius: 2rem;
				--cassette-aspect-ratio: 6;
				--tv-outer-border-width: 8px;
			}
		}

		.tv-scene {
			/* this are required for safari and firefox interactivity */
			transform: translateZ(calc(var(--tv-depth) * -1));

			.cassettes {
				transform: translateZ(calc(var(--tv-depth) - var(--cassettes-offset-z)));
			}

			.tv {
				transform: translateZ(calc(var(--tv-depth)));
			}
		}

		.tv {
			--block-depth: var(--tv-depth);
			--block-background: var(--tv-background);
			--block-border: var(--tv-outer-border);

			& > * {
				border-radius: calc(var(--tv-border-width) / 2);
			}
		}

		.tv-front {
			height: 100%;
			display: grid;
			row-gap: var(--module-gap);
		}

		.screen-module {
			aspect-ratio: var(--screen-module-ratio);
			padding: var(--module-padding);

			border-radius: var(--module-border-radius);
			box-shadow:
				0px 0px 1px 1px hsla(0, 0%, 0%, 0.33),
				inset 0px 0px 5px 1px hsla(0, 0%, 100%, 0.5);

			display: grid;
			grid-template-columns:
				[full-screen-start] var(--screen-padding)
				[screen-content-start] 1fr
				[screen-content-end] var(--screen-padding)
				[full-screen-end];

			grid-template-rows:
				[full-screen-start] var(--screen-padding)
				[screen-content-start] calc(var(--screen-height) - 2 * var(--screen-padding))
				[screen-content-end] var(--screen-padding)
				[full-screen-end];

			&::before {
				content: "";
				grid-area: full-screen / full-screen;
				background: var(--screen-background);
				border-radius: var(--module-border-radius);
				border-inline: var(--screen-border-radius) solid var(--black);
				border-block: var(--screen-border-radius) solid var(--light-black);
			}

			&::after {
				content: "";
				grid-area: screen-content / screen-content;
				border-radius: var(--screen-border-radius);
				background: var(--black);
			}

			> .static-background {
				grid-area: screen-content / screen-content;
				border-radius: var(--screen-border-radius);
				background: var(--black);
				z-index: 1;
				opacity: 0;
			}
		}

		.vhs-player-module {
			padding: var(--module-padding);
			border-radius: var(--module-border-radius);
			padding-top: 0;

			box-shadow:
				0px 0px 1px 1px hsla(0, 0%, 0%, 0.33),
				inset 0px 0px 5px 1px hsla(0, 0%, 100%, 0.5);
		}

		.vhs-controls {
			border-radius: var(--module-border-radius);
			height: var(--vhs-controls-height);
		}

		.vhs-slot {
			border-radius: var(--module-border-radius);

			padding: var(--vhs-padding);
			padding-top: 0;
			height: calc(var(--vhs-slot-height) + 2 * var(--vhs-padding));
			box-shadow: var(--tv-inner-boxshadow);

			&::before {
				content: "";
				position: absolute;
				inset: var(--vhs-padding);
				background: var(--black);
				border-radius: var(--module-border-radius);
			}

			&::after {
				content: "Copy and Paetow VHS Player deluxe";
				background: var(--tv-background);
				position: absolute;
				inset: calc(var(--vhs-padding) + var(--tv-border-width));
				transform: rotateX(-90.01deg);
				transform-origin: top;
				transition: transform 400ms ease 400ms;
				display: grid;
				place-content: center;
				font-weight: bold;
			}
		}

		.cassettes {
			display: grid;
			grid-auto-flow: row;
			grid-auto-rows: max-content;
			row-gap: 2px;

			.cassette {
				height: calc(var(--vhs-slot-height) - 2 * var(--vhs-padding));
				aspect-ratio: var(--cassette-aspect-ratio);
			}

			&:not(:has(:target)) > article:first-of-type,
			& :target {
				transform: none;
				margin-top: calc(var(--tv-height) * -1);
				height: var(--tv-height);
				width: var(--tv-width);

				display: grid;
				grid-template-columns:
					var(--screen-border-offset) [content-start] var(--screen-padding) [screen-start] 1fr [screen-end] var(
						--screen-padding
					)
					[content-end] var(--screen-border-offset);
				grid-template-rows:
					var(--screen-border-offset) var(--screen-padding) [screen-start] calc(
						var(--screen-height) - 2 * var(--screen-padding)
					)
					[screen-end] var(--screen-padding) var(--module-padding) var(--vhs-controls-height)
					var(--vhs-padding)
					[vhs-slot-start]
					var(--vhs-slot-height)
					[vhs-slot-end]
					var(--vhs-padding)
					var(--screen-border-offset);
			}

			&:not(:has(:target)) > article:first-of-type .cassette,
			& :target .cassette {
				grid-area: vhs-slot / content;

				transform: translateZ(calc(var(--cassettes-offset-z) + var(--cassette-active-offset-z)))
					translateY(calc(var(--vhs-padding) * 2));
			}

			& > article:nth-of-type(2) {
				transform: none;
			}

			.screen {
				transform: translateZ(var(--cassettes-offset-z));
				display: none;
				grid-area: screen / screen;
			}

			&:not(:has(:target)) > article:first-of-type .screen,
			& :target .screen {
				display: grid;
			}

			> :target {
				scroll-margin-block-start: calc(var(--tv-width) + var(--above-scene));
				order: -1;
			}
		}

		.speaker {
			--grill-separator: var(--space--1);
			--grill-spacing: 4px;

			display: grid;
			place-content: start center;
			height: 100%;
			width: 100%;
			padding: var(--module-padding);

			&::before {
				content: "";
				aspect-ratio: 2.5;
				width: calc(var(--tv-depth) * 0.8);
				display: block;

				background: linear-gradient(
						to right,
						transparent 0%,
						transparent calc(50% - 2px),
						var(--tv-background) calc(50% - var(--grill-separator)),
						var(--tv-background) calc(50% + var(--grill-separator)),
						transparent calc(50% + 2px)
					),
					repeating-linear-gradient(
						transparent,
						transparent var(--grill-spacing),
						var(--tv-light) var(--grill-spacing),
						var(--tv-light) calc(var(--grill-spacing) * 2)
					);
			}
		}
	}
</style>
