---

---

<div class="flow">
	<slot />
	<h2>Have you met: Lucas?</h2>
	<p>
		I set out to be a pharmacist but fell in love with coding and the web instead. Especially for
		everything that moves. How did it turn out?
	</p>
	<a href="about">find out more about my tragic backstory wound</a>
</div>
