---
import Cassette from "../cassettes/cassette.astro";
---

<Cassette decoType="c" tapeType="stripes" id="about">
	<a href="#about">about</a>
	<div slot="screen">
		<h2>Have you met: Lucas?</h2>
		<p>
			I set out to be a pharmacist but fell in love with coding and the web. Especially for
			everything that moves. How did it turn out?
		</p>
		<a href="about">find out more about my tragic backstory wound</a>
	</div>
</Cassette>
