---

---

<div class="flow">
	<slot />
	<h2>lets move it, move it</h2>
	<p>a small, 0 dependecy animation library using the FLIP technique</p>
	<a href="bewegung">How it was made</a>
	<a href="https://github.com/copyandpaetow/bewegung">Just the github link</a>
</div>
