---
import Link from "../icons/link.svg?raw";
---

<h2>lets move it, move it</h2>
<p>a small, 0 dependecy animation library using the FLIP technique</p>
<a href="bewegung" aria-hidden="true" class="disabled">How it was made (coming soon)</a>
<a class="with-icon-end" href="https://github.com/copyandpaetow/bewegung"
	>Just the github link <Fragment set:html={Link} /></a
>
