---
export interface Props {
	className?: string;
}

const { className = "" } = Astro.props;
---

<div class={`fullscreen-content-layout ${className}`}>
	<slot />
	<video
		autoplay
		muted
		loop
		playsinline
		preload="none"
		width="300"
		class="full-screen"
		aria-label="rick astley dancing to 'never gonna give you up' - an internet gotcha"
	>
		<source src="/gifs/rickroll.webm" type="video/webm" />
		<source src="/gifs/rickroll.mp4" type="video/mp4" />
	</video>
</div>
