---
import Cassette from "../cassettes/cassette.astro";
---

<Cassette decoType="b" tapeType="checked" id="dinkelberg">
	<a href="#dinkelberg">DINKELBERG</a>
	<picture class="dinkelberg full-screen" slot="screen">
		<img
			loading="lazy"
			src="/images/dinkelberg.jpg"
			alt="A man furiously yelling dinkelberg. A meme from the Fairly OddParents tv series."
			width="300"
			height="225"
		/>
	</picture>
</Cassette>

<style is:global>
	@layer components {
	}
</style>
