---
export interface Props {
	className?: string;
}

const { className = "" } = Astro.props;
---

<div class={`screen-content-layout ${className}`}>
	<slot />
	<h2>Hi, Lucas here</h2>
	<p>I am looking for opportunities to create delight and performant movements on the web.</p>
	<a href="mailto:career.lucas.paetow@gmail.com">reach out</a>
</div>
