---
import Cassette from "../cassettes/cassette.astro";
---

<Cassette decoType="c" id="intro">
	<a href="#intro" aria-label="jumps to the tv and previews this page">the intro nobody asked for</a
	>
	<div slot="screen">
		<h1>Hi, Lucas here</h1>
		<p>I am looking for opportunities to create delight and performant movements on the web.</p>
		<a href="mailto:career.lucas.paetow@gmail.com">reach out</a>
	</div>
</Cassette>
