---
import Cassette from "../cassettes/cassette.astro";
---

<Cassette decoType="c" tapeType="stripes" id="now">
	<a href="#now">now</a>
	<div slot="screen">
		<h2>Whats happening?</h2>
		<ul>
			<li>trying to improve this website</li>
			<li>recycling my old website into a post</li>
			<li>writing about my small animation library</li>
		</ul>
	</div>
</Cassette>
