---
export interface Props {
	className?: string;
}

const { className = "" } = Astro.props;
---

<div class={`screen-content-layout ${className}`}>
	<slot />
	<h2>Whats happening?</h2>
	<ul>
		<li>trying to improve this website</li>
		<li>recycling my old website into a post</li>
		<li>writing about my small animation library</li>
	</ul>
</div>
