---
import Cassette from "../cassettes/cassette.astro";
---

<Cassette decoType="b" tapeType="checked" id="that-3d-episode">
	<a href="#that-3d-episode">That 3D episode</a>
	<div slot="screen">
		<h2>Wow, so many dimensions</h2>
	</div>
</Cassette>
